{
  "extends": [
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "globals": { "fetch": false },
  "rules": {
      "arrow-body-style": 0,
      "no-unused-vars": 1,
      "comma-spacing": 1,
      "object-curly-spacing": ["warn", "always"],
      "space-before-blocks": 1,
      "react/require-extension": 0,
      "react/prop-types": 0,
      "react/jsx-no-bind": 1,
      "import/no-named-as-default-member": 0,
      "keyword-spacing": 0
  },
  "plugins": [
    "react"
  ]
}
